# Do not version IDE .
.idea

# Do not version config.txt .
config.txt

# Ignore the Environment (.env) file, that contains passwords and connection details.
.env

# Do not version message sent states. 
messageSentStates

# Do not version google drive authentication key. 
service_account_key.json

# Do not version logs. 
logs/*
logs/dayBased/*
# But keep the logs directory itself.
!logs/.gitkeep
!logs/dayBased/
!logs/dayBased/.gitkeep


# .DS_Store files of macOS.
.DS_Store